@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.box-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-bg{
  background: url('/login-bg.png');
  background-size: auto;
  background-repeat: no-repeat;
}
.signup-bg{
  background: url('/login-bg.png');
  transform: rotate(360deg);
  background-size: auto;
  background-repeat: no-repeat;
}
